doctype html
html(lang="en")
  head
    title Landing page
  body
    h1 "The future home of something sweet."
    p Pickled sustainable asymmetrical, trust fund whatever blue bottle microdosing jean shorts bitters mlkshk you probably haven't heard of them
